$primary-color: #e48f74;
$secondary-color: #dab574;

$container-division: 2.5rem;
$internal-division: .25rem;
$border-radii: 7.5px;

html {
  background-color: #252525;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;
  margin: 0; padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 1fr 2fr .5fr;
  height: 100%;
}

h1 {font-size: 4rem; font-weight: 600;}
h2 {font-size: 1.5rem; font-weight: 300;}
p {font-size: 1rem; font-weight: 100;}

nav {
  color: $primary-color;
  grid-row-start: 1;
  margin: auto;
  text-align: center;

  div {margin: $container-division;}

  h1, h2 {margin: 0 auto;}
  
  select {width: 10rem;}
  button, select {
    cursor: pointer; transition: .15s ease-in-out;
    font-size: 1rem;
    margin: $internal-division; padding: .5rem; 
  }
  button:hover, select {
    background-color: transparent; 
    border: .15rem $secondary-color solid; border-radius: $border-radii;
    color: $secondary-color; 
  }
  button, select:hover {
    background-color: $secondary-color;
    color: #252525;
    border: .15rem $secondary-color solid; border-radius: $border-radii;
  }
  #reset {
    background: transparent; border: none;
    color: $secondary-color; font-size: .75rem;
    display: block;
    margin: $internal-division auto;
  }
}

footer {
  color: #e48f74;
  grid-row-start: 3;
  margin: auto;
  text-align: center;
}

.node-container {
  align-items: flex-end; display: flex; flex-direction: row;
  justify-content: center;
  grid-row: 2;
  height: 25rem; width: 50rem;
  margin: auto;
}

.node {
  border-radius: $border-radii;
  background-color: $secondary-color;
  margin: $internal-division;
  width: 30px;
}